
:root {
  --cor-background: #c9c9c9;
  --color: #0D0D0D;
  --cor-borda: #062B6F;
  --tamanho-fonte-texto: 1rem;
  --tamanho-fonte-título: 1.5rem;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

html{
    scroll-behavior: smooth;
}

body{
    background-image: url(./IMG/background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    font-family: "Inter", sans-serif;
    background-blend-mode: overlay;
}



.menu-lateral{
    background-color: var(--cor-background);
    color: #0D0D0D;
    font-size: 1.8rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 50%;
    height: 100vh;
    box-shadow: 2px 2px 10px var(--color);
    transform: translateX(-100%);
    transition: transform .6s ease-in-out;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.menu-lateral.open{
    transform: translateX(0);
} 

/* Botão do menu */

.menu-toggle{
    position: fixed;
    top: 10px;
    left: 20px;
    z-index: 3;
    background-color: var(--cor-borda);
    color: var(--cor-background);
    font-size: 1.5rem;
    box-shadow: 0 0 5px var(--color);
    font-weight: 900;
    border: none;
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 5px;
}

.menu-toggle:focus,.menu-lateral ul li a:focus {
    outline: none;
}

.menu-toggle:focus-visible{
    outline: 2px solid #062B6F; 
    outline-offset: 10px;
    border-radius: 4px;
}

/* lista */
.menu-lateral ul{
    list-style-type: none;
    margin-top: 100px;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.menu-lateral li{
    margin: 6px 0;
}

.menu-lateral ul li a{
    text-decoration: none;
    color: var(--color);
    font-size: 1rem;
    margin-left: 5px;
    font-weight: 600;
    padding: 20px;
    gap: 10px;
    white-space: nowrap;
}

.menu-lateral ul li a:focus-visible {
  outline: 3px solid #062B6F; 
  outline-offset: 10px;
  border-radius: 4px;
}

.menu-link{
    display: flex;
    align-items: center;
}

.menu-link i{
    margin-right: 10px;
    font-size: 1.5rem;
}

/* Links das redes sociais */
.redes-sociais{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 50px;
}

.redes-sociais i{
    background-color: transparent;
    color: #0d0d0df1;
    cursor: pointer;
}

.redes-sociais a:focus-visible{
    outline: 3px solid #062B6F; 
    outline-offset: 10px;
    border-radius: 4px;
}

.redes-sociais a:focus{
    outline: 3px solid #062B6F; 
    outline-offset: 10px;
    border-radius: 4px;
}

/* Meu perfil */
.perfil img{
    height: 15rem;
    width: auto;
    object-fit: cover;
    background-size: cover;
    display: flex;
    margin: auto;
    margin-top: 80px;
    border-radius: 50%;
    box-shadow: 0 0 40px -20px var(--color);
}

.perfil h1 {
    text-align: center;
    padding-top: 30px;
    font-size: 2.4rem;
}

.perfil p{
    font-size: 1.2rem;
    text-align: center;
    margin-top: 20px;
}

.perfil span{
    font-weight: bold;
    color: #062B6F;
}

.contato{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    max-width: 90%;
    margin: 0 auto;
}

.btn-base{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #0D0D0D;
    font-size: 1.3rem;
    margin-top: 50px;
}

.btn-base i{
    margin-right: 10px;
    font-size: 1.5rem;
}

.btn-download:focus-visible{
    outline: 3px solid #062B6F; 
    outline-offset: 10px;
    border-radius: 4px;
}


.btn-download{
    background-color: var(--cor-borda);
    color: var(--cor-background);
    padding: 10px;
    border-radius: 10px;
}

.github{
    background-color: transparent;
    color: #062B6F;
    border: 2px solid var(--cor-borda) ;
    padding: 10px;
    border-radius: 10px;
}

.github:focus , .btn-repositorio:focus{ 
    outline: 3px solid #062B6F; 
    outline-offset: 10px;
    border-radius: 4px;
}

.sobre-mim{
    max-width: 80%;
    background-color: #c9c9c9;
    display: flex;
    flex-direction: column;
    margin: 50px auto;
    text-align: left;
    box-shadow: 0px 0px 40px -15px var(--color);
    border-radius: 10px;
    padding: 3%;
    font-size: 1.2rem;
    font-weight: 500;
}

.sobre-mim h3{
    font-size: 1.8rem;
    margin-bottom: 5%;
    font-weight: bold;
}

#sobre-mim, #tecnologias, #projetos{
    scroll-margin-top: 70px;
}

/* Tecnologias */
.tecnologias-container h2{
    font-size: 2rem;
    text-align: center;
}

.tecnologias-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    margin: 50px auto;
    max-width: 80%;
}

.tecnologias-grid figure{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
    text-align: center;
}

.tecnologias-grid img{
    width: 100px;
    height: auto;
}

.tecnologias-grid figcaption{
    font-size: 1rem;
    font-weight: bold;
}

/* Projetos */

#projetos{
    max-width: 80%;
    margin: 0 auto;
}

.projetos h2{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 50px;
}

.projetos-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    
}

.projetos-container h2{
    font-size: 2rem;
    text-align: center;
    margin-bottom: 30px;
}

.projeto img{
    aspect-ratio: 16 / 9;
    width: 80%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: 0 0 10px black;
}

.projeto h3{
    text-align: center;
    font-size: 1.5rem;
    margin-top: 20px;
}

.projeto > p{
    text-align: center;
    font-size: 1rem;
    flex-grow: 1;
    max-width: 80%;
    display: block;
    margin: 30px auto 10px;
}

figcaption{
    padding: 2rem;
}

.projeto figcaption{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 50px;
}

.btn-projeto{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--cor-borda);
    color: var(--cor-background);
    font-size: 1.5rem;
    text-decoration: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 10px;
}

.btn-projeto i{
    margin-right: 15px;
    font-size: 1.5rem;
}

.btn-repositorio{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    text-decoration: none;
    font-size: 1.2rem;
    border: 2px solid var(--cor-borda);
    color: var(--cor-borda);
    padding: 10px;
    border-radius: 10px;
}

.btn-repositorio i{
    font-size: 1.2rem;
    margin-right: 10px;
}

.btn-projeto:focus{
    outline: none;
}

.btn-projeto:focus-visible{
     outline: 3px solid #062B6F; 
    outline-offset: 10px;
    border-radius: 4px;
}

.copy-container{
    width: 100%;
    height: 80px;
    background-color: #0d0d0df1;
    color: #ffff;
}

.copy{
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 3rem;
    padding: 20px;
}