
:root {
  --cor-background: #c9c9c9;
  --color: #0D0D0D;
  --tamanho-fonte-texto: 1rem;
  --tamanho-fonte-título: 1.5rem;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

html{
    scroll-behavior: smooth;
}

body{
    background-image: url(./IMG/background.png);
     background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    font-family: "Inter", sans-serif;
}


.menu-lateral{
  background-color: var(--cor-background);
    color: #0D0D0D;
    font-size: 1.8rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 50%;
    height: 100vh;
    box-shadow: 2px 2px 10px var(--color);
    transform: translateX(-100%);
    transition: transform .6s ease-in-out;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.menu-lateral.open{
    transform: translateX(0);

} 

/* Botão do menu */

.menu-toggle{
    position: fixed;
    top: 10px;
    left: 20px;
    z-index: 3;
    background-color: transparent;
    color: #062B6F;
    font-size: 2.5rem;
    border: none;
    cursor: pointer;
    padding: 8px 6px;
    border-radius: 5px;
}

.menu-toggle:focus,.menu-lateral ul li a:focus {
    outline: none;
}

.menu-toggle:focus-visible{
    outline: 2px solid #062B6F; 
    outline-offset: 10px;
    border-radius: 4px;
}

/* lista */
.menu-lateral ul{
    list-style-type: none;
    margin-top: 100px;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.menu-lateral li{
    margin: 6px 0;
}

.menu-lateral ul li a{
    text-decoration: none;
    color: var(--color);
    font-size: 1rem;
    margin-left: 5px;
    font-weight: 600;
    padding: 20px;
    gap: 10px;
    white-space: nowrap;
}

.menu-lateral ul li a:focus-visible {
  outline: 3px solid #062B6F; 
  outline-offset: 10px;
  border-radius: 4px;
}

.menu-link{
    display: flex;
    align-items: center;
}

.menu-link i{
    margin-right: 10px;
    font-size: 1.5rem;
}

.perfil img{
    height: 15rem;
    width: 15rem;
    object-fit: cover;
    background-size: cover;
    display: flex;
    margin: auto;
    margin-top: 80px;
    border-radius: 50%;
}

.perfil h1 {
    text-align: center;
    padding-top: 30px;
    font-size: 1.5rem;
}

.perfil p{
    font-size: 1rem;
    text-align: center;
}

.perfil span{
    font-weight: bold;
    color: #062B6F;
}

.contato{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.btn-download{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    background-color: transparent;
    color: #0D0D0D;
    font-weight: bold;
    text-decoration: none;
    margin-top: 50px;
    font-size: 1.3rem;
    cursor: pointer;
}

.btn-download:focus-visible{
    outline: 3px solid #062B6F; 
    outline-offset: 10px;
    border-radius: 4px;
}

.btn-download i{
    font-size: 1.2rem;
}

.github{
   display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    background-color: transparent;
    color: #0D0D0D;
    font-weight: bold;
    text-decoration: none;
    margin-top: 50px;
    font-size: 1.3rem;
    cursor: pointer;
}

.github i{
    font-size: 1.2rem;
}

.github:focus{
    outline: 3px solid #062B6F; 
    outline-offset: 10px;
    border-radius: 4px;
}

.sobrenome h2{
    margin-top: 2rem;
    text-align: center;
    font-size: 1rem;
    max-width: 80%;
    margin: 20px auto;
}

.sobre-mim{
    max-width: 90%;
    background-color: #c9c9c9;
    display: flex;
    flex-direction: column;
    margin: 130px auto;
    text-align: left;
    box-shadow: 0px 0px 10px var(--color);
    border-radius: 10px;
    padding: 5%;
    font-size: 1.2rem;
    font-weight: 500;
}

.sobre-mim h3{
    font-size: 1.8rem;
    margin-bottom: 10%;
    font-weight: bold;
}

#sobre-mim{
    scroll-margin-top: 70px;
}

.projetos-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    padding: 2rem;
    align-items: start;
}

.projetos-container h2{
    font-size: 2rem;
    text-align: center;
    margin-bottom: 30px;
}

.tecnologias-container h2{
    font-size: 2rem;
    text-align: center;
}

.tecnologias-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    margin: auto;
    max-width: 90%;
    padding: 100px;
}

.tecnologias-grid figure{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    text-align: center;
}

.tecnologias-grid img{
    width: 100px;
    height: 100px;
}

.tecnologias-grid figcaption{
    font-size: 1.2rem;
    font-weight: bold;
}


.projeto img{
    height: auto;
    width: 100%;
    display: block;
}

figcaption{
    padding: 2rem;
}

.projeto figcaption{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 50px;
}

.btn-projeto{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .2rem;
    background-color: transparent;
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--color);
    text-decoration: none;
    padding: 0.8rem;
    cursor: pointer;
}

.btn-projeto:focus{
    outline: none;
}

.btn-projeto:focus-visible{
     outline: 3px solid #062B6F; 
    outline-offset: 10px;
    border-radius: 4px;
}

